<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="in.cg.beans.Student" id="stu_1">
		<property name="id" value="101"></property>
		<property name="name" value="Smit"></property>
		<property name="email" value="smitm101@gmail.com"></property>
		<property name="a" ref = "stu_add"></property>
		<!-- <constructor-arg value = "101"/> -->
	</bean>

	<bean class="in.cg.beans.Address" id="stu_add">
		<property name="no" value="102"></property>
		<property name="street" value="daven street"></property>
		<property name="state" value="maharashtra"></property>
	</bean>
</beans>